<section class="banner_area">
    <div class="banner_content">
        <h3>About us</h3>
        <a href="#">Home</a>
        <span>/</span>
        <a class="active" href="about.html">About us</a>
    </div>
</section>
<!--==========End Banner area==========-->

<!--==========start about us area==========-->
<section class="about-us-area about_style_two">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="image/about-us2.png" alt="">
            </div>
            <div class="col-sm-6">
                <div class="about-us">
                    <div class="section-header">
                        <h3>About us</h3>
                        <h2>What you should know</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="qualities_area">
            <ul class="row m0">
                <li class="wow fadeIn animated" data-wow-delay="0.3s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon1.png" alt="">
                        <h5>Great<br class="qualities_br"> services</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="0.6s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon4.png" alt="">
                        <h5>25 awards<br class="qualities_br">  won</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="0.9s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon2.png" alt="">
                        <h5>750<br class="qualities_br"> clients</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="1.2s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon5.png" alt="">
                        <h5>Qualified<br class="qualities_br"> doctors</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="1.5s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon3.png" alt="">
                        <h5>We care<br class="qualities_br"> about you</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="1.8s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon7.png" alt="">
                        <h5>Healthcare<br class="qualities_br"> solution</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="2.1s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon6.png" alt="">
                        <h5>Advanced<br class="qualities_br"> technology</h5>
                    </div>
                </li>
                <li class="wow fadeIn animated" data-wow-delay="2.4s">
                    <div class="qualities_icon">
                        <img src="image/about-us-icon8.png" alt="">
                        <h5>Service<br class="qualities_br"> 24/7</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>