<section class="banner_area">
    <div class="banner_content">
        <h3>Contact</h3>
        <a href="#">Home</a>
        <span>/</span>
        <a class="active" href="about.html">Contact</a>
    </div>
</section>
<!--==========End Banner area==========-->
<!--==========start contact area==========-->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="contact-info">
                    <div class="section-header">
                        <h3>Contact</h3>
                        <h2>Send us a message</h2>
                    </div>
                    <div class="row m0 touch_top">
                        <ul class="nav">
                            <li class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <i class="lnr lnr-map-marker"></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h3><a href="#">Address</a></h3>
                                        123 Bella Street, France<br>
                                        113 Finest Street, France
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <i class="lnr lnr-phone-handset"></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h3><a href="#">Phone</a></h3>
                                        + +(00) 123 456 789 <br>
                                        + +(00) 123 789 465
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <i class="icon_mail_alt"></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h3><a href="#">E-mail</a></h3>
                                        office@galliasoft.com<br>
                                        manikrony92@gmail.com
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="best_contact_form">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" placeholder="*First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="*Last Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="*Phone">
                            </div>
                            <div class="col-sm-6 wow animated pulse" data-wow-delay="0.3s">
                                <a class="best_contact_btn" href="#">Contact us</a>
                            </div>
                        </div>
                        <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="contact-img">
                    <img class="img-responsive" src="image/contact-bg-right-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>