<section class="gallery-area">
    <div class="container-fluid">
        <div class="gallery">
            <div class="gallery-item">
                <img src="image/1.jpg" alt="">
                <div class="gallery-icon">
                    <div class="overlay">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="image/1.jpg" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <img src="image/2.jpg" alt="">
                <div class="gallery-icon">
                    <div class="overlay">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="image/2.jpg" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <img src="image/3.jpg" alt="">
                <div class="gallery-icon">
                    <div class="overlay">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="image/3.jpg" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <img src="image/4.jpg" alt="">
                <div class="gallery-icon">
                    <div class="overlay">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="image/4.jpg" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======End gallery area=====-->
<!--==========start testimonial area==========-->
<section class="testimonial-area">
    <div class="container">
        <div class="section-header">
            <h3>Testimonials</h3>
            <h2>What our pacients say</h2>
        </div>
        <div class="testimonial-slider">
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimonial-item">
                    <h2>Adela Dan</h2>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <div class="testimonial-img">
                        <img class="img-circle" src="image/testimonial/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="subscribe-content">
                    <h2>Subscribe to Newsletter</h2>
                    <p>Receives news of dentistry from our experts</p>
                </div>
            </div>
            <div class="col-sm-6 subscribe">
                <div class="row">
                    <div class="col-sm-9 col-xs-7 subscribe-form">
                        <input type="email" class="form-control" placeholder="email">
                    </div>
                    <div class="col-sm-3 col-xs-5">
                        <button class="btn-subs" type="submit">sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>