<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/elegant-icon/style.css">
    <link rel="stylesheet" href="vendors/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="vendors/jqueryui/css/jquery-ui.css">
    <link rel="stylesheet" href="vendors/Linearicons/style.css">
    <link rel="stylesheet" href="vendors/light.box/css/lightbox.min.css">
    <link rel="stylesheet" href="vendors/video/video.css">
    <link href="vendors/camera-slider/css/camera.css" rel="stylesheet">
    <link rel="stylesheet" href="vendors/whole-slider/main.css">
    <link href="vendors/animate-css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/magic.min.css">
    <link rel="stylesheet" href="vendors/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="top-bar">
                <div class="row">
                    <div class="col-sm-8">
                        <ul class="top-contact">
                            <li><a href="#"><i class="lnr lnr-map-marker"></i>123 Bella Street, France</a></li>
                            <li><a href="#"><i class="lnr lnr-phone-handset"></i>+(00) 123 456 789</a></li>
                            <li><a href="#"><i class="icon_mail_alt"></i>office@galliasoft.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="appointment-btn">
                            <a href="#"><i class="lnr lnr-calendar-full"></i>Make Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="image/logo.png" alt=""></a>
                </div> <!-- /navbar-header -->
                <div class="navbar-collapse collapse navbar-right">
                    <nav id="navigation" class="navbar-nav menu">
                        <ul class="nav">
                            <li><a href="/">首页</a></li>
                            <li><a href="about">亚健康</a></li>
                            <li><a href="about">传统方案</a></li>
                            <li><a href="about">特色产品</a></li>
                            <li><a href="about">关于</a></li>
                            <li><a href="contact">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
{{{body}}}
<footer class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="wow col-md-4 col-sm-4 animated fadeInUp" data-wow-delay="0.3s">
                    <div class="widget about-widget">
                        <a href="" class="logo">
                            <img src="image/logo2.png" alt="">
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                    </div>
                </div>
                <div class="wow col-md-4 col-sm-3 animated fadeInUp" data-wow-delay="0.6s">
                    <div class="widget opening-widget">
                        <h2 class="widget-title">Opening hours</h2>
                        <ul>
                            <li><span>Monday - Friday :</span> 09:00 am - 18:00 pm</li>
                            <li><span>Saturday :</span> 10:00 am - 14:00 pm</li>
                            <li><span>Sunday :</span> Closed</li>
                        </ul>
                    </div>
                </div>
                <div class="wow col-md-4 col-sm-4 animated fadeInUp" data-wow-delay="0.9s">
                    <div class="widget twitter-widget">
                        <h2 class="widget-title">Recent Tweets</h2>
                        <ul class="tweets">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <div class="tweets-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><a href="#"><span>3 hours ago</span></a>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <div class="tweets-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><a href="#"><span>3 hours ago</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="widget instragram-widget">
                <h2 class="widget-title">Instagram</h2>
                <div class="instragram-slider">
                    <div class="item">
                        <a href="#"><img src="image/instragram/1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="image/instragram/2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="image/instragram/3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="image/instragram/4.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="image/instragram/5.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="image/instragram/6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-7">
                    <h4 class="copy-right">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></h4>
                </div>
                <div class="col-sm-6 col-xs-5">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="social_googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--==========End footer area==========-->
<!--All JS Files Here-->
<script src="js/jquery-2.2.0.min.js"></script>
<!--bootstrap Js-->
<script src="js/bootstrap.min.js"></script>
<script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> <!--Bootstrap JS-->
<script src="vendors/jqueryui/js/jquery-ui.min.js"></script>
<!-- jquery easing -->
<script src="js/jquery.easing.min.js"></script>
<!-- Camera Slider -->
<script src="vendors/camera-slider/js/camera.min.js"></script>
<!--video js-->
<script src="vendors/video/video-min.js"></script>
<script src="vendors/video/video.js"></script>
<!--    gmaps Js-->
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
<!--<script src="js/google-map.js"></script>-->
<!--light box js-->
<script src="vendors/light.box/js/lightbox.min.js"></script>
<!--wheel js-->
<script src="vendors/whole-slider/main.js"></script>
<!--owl js-->
<script src="vendors/owlcarousel/owl.carousel.min.js"></script>
<!--wow js-->
<script src="vendors/animate-css/wow.min.js"></script>
<!--main Js-->
<script src="js/custom.js"></script>
<!-- Coded by weThemez Team (Rocky & Obaidul) http://wethemez.com -->
</body>
</html>
